body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: column;
}
ul{
    display: flex;
    list-style: none;
    justify-content: center; 
}
li{
width: 75px;
}
a {
    color: #000;
    text-decoration: none;
}
.nav{
    font-size: 2.5vh ;
    background-color: blueviolet;
}
section{
    text-align: center;
    margin: 20px;
}
.main h1{
    font-size: 4vh;
}
.main p {
    font-size: 3vh;
}
.main img{
    
    width: 70%;
}
/*--------------------- Media 500 ----------------------*/ 
@media (max-width: 500px)
{ 
ul{
    flex-direction: column;
    align-items: center;
}
.main h1{
    font-size: 3vh;
}
li{
padding: 5px;
}
.main p {
    font-size: 2vh;
}

}